* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.body-container {
    height: 100%;
}

.request-panel-right{
    margin: 5px 0px;
    height:99%;
    padding-right:14px;
}


.team-member-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    margin-bottom: 1%;
    padding: 10px;
    min-height: 27%;
}

.team-profile-img {
    position: relative;
    height: 90%;
    width: 15%;    
}

.member-img-bg {
    background-position: center;
    background-size: cover;
    border-radius: 100px;
}

.onHol {
    opacity: 0.8;
    height: 100%;
    width: 100%;
}

.noHol {    
    height: 100%;
    width: 100%;
}

.team-hol-info {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 20%;
    width: 100%;
    bottom: 5%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    -webkit-text-stroke: 1px #fffbfb70;
}

.member-info-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 80%;
    color: white;
    padding-left: 25px;
    margin-top: 10px;
}

.member-panel-heading {
    height: 20%;
    width: 95%;
    font-size: 24px;
    color: #eee8a9;
}

.member-panel-heading hr{
    margin:0px;
}

.member-hol-panel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 75%;
    width: 100%;
}

.member-hol-panel h4 {
    margin-top: -50px;
    margin-left: 1px;
}

.member-hol-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65%;
    width: 12%;
    border: 1px solid white;
    margin-right: 10px;
    border-radius: 2px;
}

.memeber-hol-date{
    text-align:center;
}

.memeber-hol-time {
    text-align: center;
}



