@model IEnumerable<AnnualLeave.Models.Employee>

@{
    ViewBag.Title = "Home Page";
}

<h2>Homepage - test</h2>

@if (!Model.Any())
{
    <h2>no data</h2>
}else{ 

    <table>

        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var employee in Model)
            {
            <tr>
                <td>@Html.ActionLink(employee.FirstName,"Details","Home",new { id = employee.EmployeeId },null)</td>
                <td>@employee.LastName</td>
            </tr>
            }


        </tbody>

    </table>


}

