@model IEnumerable<AnnualLeave.Models.Employee>

@{
    ViewBag.Title = "Home Page";
}

<h2>Homepage - test</h2>

@if (!Model.Any())
{
    <h2>no data</h2>
}
else
{

    <table>

        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var employee in Model)
            {
                <tr>
                    <td>@Html.ActionLink(employee.FirstName, "Details", "Home", new { id = employee.EmployeeId }, null)</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Role.RoleName</td>
                </tr>
            }


        </tbody>

    </table>


    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>

            * {
                box-sizing: border-box;
            }

            html {
                font-family: consolas;
                height: 100%;
                margin: 0px;
                padding: 0px;
            }

            body {
                height: 100%;
            }

            .table {
                width: 100%;
                height: 100%;
            }

            .title-container {
                width: 100%;
                text-align: center;
            }

            .title-text {
                font-weight: bold;
                color: #004b87;
                margin: 10px 0px 0px 0px;
            }

            .horizontal-spacer {
                display: inline-block;
                height: 2px;
                background: #003159;
                width: 95%;
            }

            .body-container {
                display: inline-block;
                width: 100%;
                text-align: center;
            }

            .body-content {
                display: inline-block;
                width: 92%;
                text-align: left;
                margin-top: -10px;
            }

                .body-content p {
                    margin: 8px 0px;
                }

            .security_1 {
                margin-top: 40px;
            }

            .quote_1 {
                margin-top: 40px;
            }

            .mTop-20 {
                margin-top: 20px;
            }

            .mTop-30 {
                margin-top: 30px;
            }

            .btn-wrapper {
                width: 190px;
                background: #003159;
                text-align: center;
            }

            .btn-link {
                display: inline-block;
                width: 100%;
                height: 100%;
                color: white;
                text-decoration: none;
                font-size: 20px;
                text-align: center;
            }

            .footer-left {
                display: inline-block;
            }

            .footer-right {
                display: inline-block;
                margin-left: 30px;
            }
        </style>


    </head>

    @*<body>

        <table class="table">
            <thead>
                <tr>
                    <td class="title-container">
                        <h1 class="title-text">Aspen Bridging</h1>
                        <div class="horizontal-spacer"></div>

                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="body-container">
                        <div class="body-content">

                            <div class="initial-content">
                                <h3> Dear Simon,</h3>
                                <p>We are writing to you to discuss the account for marketing plus, 103434, it is now 4 days old and we want to remind you how much is on the quote</p>
                            </div>

                            <div class="security_1">
                                <h3><u>Security 1</u></h3>
                                <p>Property: test </p>
                                <p>Product: test </p>
                                <p>Proc Fee:$23.00</p>
                                <p>Net Loan:$23,232.00</p>
                            </div>


                            <div class="security_2">
                                <h3><u>Security 2</u></h3>
                                <p>Property: test </p>
                                <p>Product: test </p>
                                <p>Proc Fee:$23.00</p>
                                <p>Net Loan:$23,232.00</p>
                            </div>


                            <div class="quote_1">
                                <h3><u>Flat Rate</u></h3>
                                <p>Property: test </p>
                                <p>Product: test </p>
                                <p>Proc Fee:$23.00</p>
                                <p>Net Loan:$23,232.00</p>
                            </div>

                            <div class="quote_2">
                                <h3><u>Stepped Rate</u></h3>
                                <p>Property: test </p>
                                <p>Product: test </p>
                                <p>Proc Fee:$23.00</p>
                                <p>Net Loan:$23,232.00</p>
                            </div>

                        </div>

                        <div class="horizontal-spacer mTop-20"></div>

                        <div class="body-content">

                            <div class="footer-left">
                                <div class="button-container mTop-30">
                                    <p><b>Go to the formal dip</b></p>
                                    <div class="btn-wrapper"><a href="www.google.com" class="btn-link">Click Me</a></div>
                                </div>

                                <div class="button-container-2 mTop-30">
                                    <p><b>Go to the formal dip</b></p>
                                    <div class="btn-wrapper"><a href="www.google.com" class="btn-link">Click Me</a></div>
                                </div>
                            </div>

                            <div class="footer-right">
                                <div class="button-container mTop-30">
                                    <p><b>Go to the formal dip</b></p>
                                    <div class="btn-wrapper"><a href="www.google.com" class="btn-link">Click Me</a></div>
                                </div>

                                <div class="button-container-2 mTop-30">
                                    <p><b>Go to the formal dip</b></p>
                                    <div class="btn-wrapper"><a href="www.google.com" class="btn-link">Click Me</a></div>
                                </div>
                            </div>



                        </div>

                        <div class="horizontal-spacer mTop-30"></div>


                    </td>
                </tr>
            </tbody>

        </table>

    </body>*@


}


